<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Admin - Shop</title>

		<!-- ========== COMMON STYLES ========== -->
		<link rel="stylesheet" href="css/bootstrap.min.css" media="screen" />
		<link rel="stylesheet" href="css/font-awesome.min.css" media="screen" />
		<link
			rel="stylesheet"
			href="css/animate-css/animate.min.css"
			media="screen"
		/>
		<link
			rel="stylesheet"
			href="css/lobipanel/lobipanel.min.css"
			media="screen"
		/>

		<!-- ========== PAGE STYLES ========== -->
		<link rel="stylesheet" href="css/prism/prism.css" media="screen" />
		<!-- USED FOR DEMO HELP - YOU CAN REMOVE IT -->
		<link rel="stylesheet" href="css/toastr/toastr.min.css" media="screen" />
		<link
			rel="stylesheet"
			type="text/css"
			href="js/DataTables/datatables.min.css"
		/>

		<!-- ========== THEME CSS ========== -->
		<link rel="stylesheet" href="css/main.css" media="screen" />

		<!-- ========== MODERNIZR ========== -->
		<script src="js/modernizr/modernizr.min.js"></script>
	</head>
	<body class="top-navbar-fixed">
		<div class="main-wrapper">
			<!-- ========== WRAPPER FOR BOTH SIDEBARS & MAIN CONTENT ========== -->
			<div class="content-wrapper" style="margin-top: 0">
				<div class="content-container">
					<!-- ========== LEFT SIDEBAR ========== -->
					<div class="left-sidebar fixed-sidebar bg-black-300 box-shadow">
						<div class="sidebar-content mt-30">
							<div class="sidebar-nav">
								<ul class="side-nav color-gray">
									<li class="nav-header">
										<span class="">Cửa hàng</span>
									</li>
									<li>
										<a href="./dashboard.html"
											><i class="fa fa-home"></i> <span>Bảng điều khiển</span></a
										>
									</li>
									<li>
										<a href="./products.html"
											><i class="fa fa-product-hunt"></i> <span>Sản phẩm</span></a
										>
									</li>
									<li>
										<a href="./categories.html"
											><i class="fa fa-list"></i> <span>Danh mục</span></a
										>
									</li>
									<li>
										<a href="./orders.html"
											><i class="fa fa-shopping-cart"></i> <span>Đơn hàng</span></a
										>
									</li>
								</ul>
								<!-- /.side-nav -->
							</div>
							<!-- /.sidebar-nav -->
						</div>
						<!-- /.sidebar-content -->
					</div>

					<div class="main-page">
						<div class="container-fluid">
							<div class="row page-title-div">
								<div class="col-sm-6">
									<h2 class="title">Bảng điều khiển</h2>
								</div>
							</div>
						</div>
						<!-- /.container-fluid -->

						<section class="section mt-30">
							<div class="container-fluid">
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<a class="dashboard-stat bg-primary" href="#">
											<span class="number counter dashboard-revenue">0</span>
											<span class="name">Doanh thu</span>
											<span class="bg-icon"><i class="fa fa-usd"></i></span>
										</a>
									</div>
									<!-- /.col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<a class="dashboard-stat bg-danger" href="#">
											<span class="number counter dashboard-order-shipping">0</span>
											<span class="name">Đơn hàng đang giao</span>
											<span class="bg-icon"><i class="fa fa-shopping-cart"></i></span>
										</a>
										<!-- /.dashboard-stat -->
									</div>
									<!-- /.col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<a class="dashboard-stat bg-warning" href="#">
											<span class="number counter dashboard-order-success">0</span>
											<span class="name">Đơn hàng thành công</span>
											<span class="bg-icon"><i class="fa fa-area-chart"></i></span>
										</a>
										<!-- /.dashboard-stat -->
									</div>
									<!-- /.col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<a class="dashboard-stat bg-success" href="#">
											<span class="number counter dashboard-products">0</span>
											<span class="name">Số lượng sản phẩm</span>
											<span class="bg-icon"><i class="fa fa-thumbs-o-up"></i></span>
										</a>
										<!-- /.src-code -->
									</div>
									<!-- /.col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
								</div>
								<!-- /.row -->
							</div>
							<!-- /.container-fluid -->
						</section>
						<!-- /.section -->
					</div>
					<!-- /.main-page -->
				</div>
				<!-- /.content-container -->
			</div>
			<!-- /.content-wrapper -->
		</div>
		<!-- /.main-wrapper -->

		<!-- ========== COMMON JS FILES ========== -->
		<script src="js/jquery/jquery-2.2.4.min.js"></script>
		<script src="js/jquery-ui/jquery-ui.min.js"></script>
		<script src="js/bootstrap/bootstrap.min.js"></script>
		<script src="js/pace/pace.min.js"></script>
		<script src="js/lobipanel/lobipanel.min.js"></script>
		<script src="js/iscroll/iscroll.js"></script>

		<!-- ========== PAGE JS FILES ========== -->
		<script src="js/prism/prism.js"></script>
		<script src="js/waypoint/waypoints.min.js"></script>
		<script src="js/counterUp/jquery.counterup.min.js"></script>
		<script src="js/amcharts/amcharts.js"></script>
		<script src="js/amcharts/serial.js"></script>
		<script src="js/amcharts/plugins/export/export.min.js"></script>
		<link
			rel="stylesheet"
			href="js/amcharts/plugins/export/export.css"
			type="text/css"
			media="all"
		/>
		<script src="js/amcharts/themes/light.js"></script>

		<script src="js-assignment/public.js"></script>
		<script src="js-assignment/dashboard.js"></script>

		<!-- ========== THEME JS ========== -->
		<script src="js/main.js"></script>

		<!-- ========== ADD custom.js FILE BELOW WITH YOUR CHANGES ========== -->
	</body>
</html>
