<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Admin - Shop</title>

		<!-- ========== COMMON STYLES ========== -->
		<link rel="stylesheet" href="css/bootstrap.min.css" media="screen" />
		<link rel="stylesheet" href="css/font-awesome.min.css" media="screen" />
		<link
			rel="stylesheet"
			href="css/animate-css/animate.min.css"
			media="screen"
		/>
		<link
			rel="stylesheet"
			href="css/lobipanel/lobipanel.min.css"
			media="screen"
		/>

		<!-- ========== PAGE STYLES ========== -->
		<link rel="stylesheet" href="css/prism/prism.css" media="screen" />
		<!-- USED FOR DEMO HELP - YOU CAN REMOVE IT -->
		<link rel="stylesheet" href="css/toastr/toastr.min.css" media="screen" />
		<link
			rel="stylesheet"
			type="text/css"
			href="js/DataTables/datatables.min.css"
		/>

		<!-- ========== THEME CSS ========== -->
		<link rel="stylesheet" href="css/main.css" media="screen" />

		<!-- ========== MODERNIZR ========== -->
		<script src="js/modernizr/modernizr.min.js"></script>
	</head>
	<body class="top-navbar-fixed">
		<div class="main-wrapper">
			<!-- ========== WRAPPER FOR BOTH SIDEBARS & MAIN CONTENT ========== -->
			<div class="content-wrapper" style="margin-top: 0;">
				<div class="content-container">
					<!-- ========== LEFT SIDEBAR ========== -->
					<div class="left-sidebar fixed-sidebar bg-black-300 box-shadow">
						<div class="sidebar-content mt-30">
							<div class="sidebar-nav">
								<ul class="side-nav color-gray">
									<li class="nav-header">
										<span class="">Cửa hàng</span>
									</li>
									<li>
										<a href="./dashboard.html"
											><i class="fa fa-home"></i> <span>Bảng điều khiển</span></a
										>
									</li>
									<li>
										<a href="./products.html"
											><i class="fa fa-product-hunt"></i> <span>Sản phẩm</span></a
										>
									</li>
									<li>
										<a href="./categories.html"
											><i class="fa fa-list"></i> <span>Danh mục</span></a
										>
									</li>
									<li>
										<a href="./orders.html"
											><i class="fa fa-shopping-cart"></i> <span>Đơn hàng</span></a
										>
									</li>
								</ul>
								<!-- /.side-nav -->
							</div>
							<!-- /.sidebar-nav -->
						</div>
						<!-- /.sidebar-content -->
					</div>

					<div class="main-page">
						<div class="container-fluid">
							<div class="row page-title-div">
								<div class="col-md-6">
									<h2 class="title">Thêm danh mục</h2>
								</div>
						</div>
						<!-- /.container-fluid -->

						<section class="section ">
							<div class="container-fluid w-70">
								<div class="row">
									<div class="col-md-12">
										<div class="panel">
											<div class="panel-heading">
												<div class="panel-title">
													<div style="display: flex; justify-content: space-between; padding-right: 15px;">
														<h5>Nhập thông tin</h5>
														<a href="/categories.html" type="button" class="btn btn-primary">Tất cả danh mục</a>
													</div>
												</div>
											</div>
											<div class="panel-body p-20 overflow-x-auto">
												<div id="message-success">
												</div>
												<form class="form-horizontal" >
													<div class="form-group left-icon">
														<label for="name" class="col-sm-3 control-label text-left">Tên danh mục</label>
																	<div class="col-sm-9">
																					<span class="fa fa-pencil form-left-icon"></span>
																					<input type="text" class="form-control" id="name" placeholder="Nhập tên danh mục">
																	</div>
													</div>
										<div id="error" class="text-danger">
										</div>
										<button type="button" class="btn btn-success btn-wide pull-right mt-10" id="button-edit-category"><i class="fa fa-check"></i>Thêm</button>
									</form>


												<!-- /.col-md-12 -->
											</div>
										</div>
									</div>
									<!-- /.col-md-6 -->
								</div>
								<!-- /.row -->
							</div>
							<!-- /.container-fluid -->
						</section>
						<!-- /.section -->
					</div>
					<!-- /.main-page -->

				</div>
				<!-- /.content-container -->
			</div>
			<!-- /.content-wrapper -->
		</div>
		<!-- /.main-wrapper -->

		<!-- ========== COMMON JS FILES ========== -->
		<script src="js/jquery/jquery-2.2.4.min.js"></script>
		<script src="js/bootstrap/bootstrap.min.js"></script>
		<script src="js/pace/pace.min.js"></script>
		<script src="js/lobipanel/lobipanel.min.js"></script>
		<script src="js/iscroll/iscroll.js"></script>

		<!-- ========== PAGE JS FILES ========== -->
		<script src="js/prism/prism.js"></script>
		<script src="js/DataTables/datatables.min.js"></script>
		<script src="js/counterUp/jquery.counterup.min.js"></script>

		<!-- ========== THEME JS ========== -->
		<script src="js/main.js"></script>

		<!-- ========== JS ASSIGNMENT ========== -->
		<script src="js-assignment/public.js"></script>
		<script src="js-assignment/edit-category.js"></script>

		<script>
			$(function ($) {
				// Counter for dashboard stats
				$(".counter").counterUp({
					delay: 10,
					time: 1000,
				});
				// data table
				$("#example").DataTable();

				$("#example2").DataTable({
					scrollY: "300px",
					scrollCollapse: true,
					paging: false,
				});

				$("#example3").DataTable();
			});
		</script>

		<!-- ========== ADD custom.js FILE BELOW WITH YOUR CHANGES ========== -->
	</body>
</html>
